input {
file {
path => "/Users/ndm/Documents/GitHub/CSCI-E-88-harvard/Final-Project/Project/twitter/tweets.csv"
start_position => "beginning"
sincedb_path => "/dev/null"
}
}

filter {
csv {
seperator => ","
columns => ["User", "Tweet", "Cloud"]
}
mutate {convert => ["User", "integer"]}
}

output {
elasticsearch {
hosts => "https://cloud-marketplace-twitter-data.es.us-east-2.aws.elastic-cloud.com"
index => "CloudMP_Tweet_Data"
document_type => "CloudTweets"
}
stdout {}
}